<div class="page-container">
  <div class="content-wrapper">
    <div class="panel panel-flat">
      <div class="panel-heading">
        <h3>Настройки/Список статусов СМС</h3>
      </div>
      <div class="panel-body">
        <form class="form-horizontal" *ngIf="form" [formGroup]="form">
          <fieldset
            class="content-group"
            formArrayName="templates"
            *ngFor="let templateFormControl of form.get('templates')['controls']; let i = index;">
            <legend class="text-bold">
              {{templateFormControl['value']['event']}}
            </legend>
            <div class="form-group" [formGroupName]="i">
              <div class="col-lg-4">
                <div class="row">
                  <div class="container-fluid">
                    <label class="control-label" [id]="templateFormControl['value']['id'] + '_textarea_result'"></label>
                  </div>
                  <div class="container-fluid">
                    <label class="control-label">
                      <input type="checkbox" formControlName="send_sms">
                      Включить уведомления
                    </label>
                  </div>
                </div>
              </div>

              <div class="col-lg-4">
                <!--                  [(ngModel)]="form[row['id']]"-->
                <!--                  [ngModelOptions]="{standalone: true}"-->
                <textarea
                  class="form-control template-textarea-input"
                  formControlName="template"
                  (input)="textAreaChangeEvent(templateFormControl['value']['id'])"
                  [value]="templateFormControl['value']['template']"
                  [id]="templateFormControl['value']['id'] + '_textarea'"
                ></textarea>
                <button class="keywords" type="button" (click)="templateWordButtonClick(template, templateFormControl['value']['id'])" *ngFor="let template of templateParser.getTemplates()">
                  {{template.text}}
                </button>
              </div>
            </div>
          </fieldset>

          <fieldset formGroupName="settings">
            <legend class="text-bold">
              ДАННЫЕ СМС СЕРВИСА
            </legend>
            <div class="form-group">
              <div class="form-group">
                <label class="control-label col-lg-1">Логин</label>
                <div class="col-lg-3">
                  <input type="text" formControlName="sms_login" class="form-control">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-group">
                <label class="control-label col-lg-1">Пароль</label>
                <div class="col-lg-3">
                  <input type="text" formControlName="sms_password" class="form-control">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-group">
                <label class="control-label col-lg-1">Отправитель</label>
                <div class="col-lg-3">
                  <input type="text" formControlName="sms_sender" class="form-control">
                </div>
              </div>
            </div>
          </fieldset>
          <div class="" [ngClass]="alert.getClasses()" *ngIf="alert.getIsVisible()">
            <button type="button" class="close" (click)="alert.hide()"><span>×</span><span class="sr-only">Close</span></button>
            <span class="text-semibold">{{alert.getMessage()}}</span>
          </div>
          <button type="button" class="btn btn-success center-block" (click)="submitForm()">Сохранить</button>
        </form>
      </div>
    </div>
  </div>
</div>
