
<div class="page-container">
    <div class="content-wrapper">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h3>Список заявок на ремонт</h3>
            </div>
            <div class="panel-body"></div>
            <div class="dataTables_wrapper no-footer">
                <div class="datatable-scroll">
                    <ngx-datatable
                            class="material"
                            [headerHeight]="50"
                            rowHeight="auto"
                            draggable="false"
                            [columnMode]="ColumnMode.force"
                            [rows]="rows">
                        <ngx-datatable-column name="Статус" prop="status" editable="false" [flexGrow]="2">
                            <ng-template
                                    ngx-datatable-cell-template
                                    let-rowIndex="rowIndex"
                                    let-value="value"
                                    let-row="row"
                                    let-group="group"
                            >
                                <label>
                                    <ng-container *ngIf="value == 1">
                                        <button type="button" (click)="acceptRepair(row)" class="btn btn-success"><i class="fa fa-check-square"></i>Принять</button>
                                        <button type="button" (click)="declineRepair(row)" class="btn btn-danger"><i class="fa fa-minus-square"></i>Отказать</button>
                                    </ng-container>
                                    <ng-container *ngIf="value != 1">
                                        <button type="button" class="btn btn-default">
                                            {{getStatusById(value)}}
                                        </button>
                                    </ng-container>
                                </label>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Автомобиль" prop="car" editable="false" [flexGrow]="2">
                            <ng-template
                                    ngx-datatable-cell-template
                                    let-rowIndex="rowIndex"
                                    let-value="value"
                                    let-row="row"
                                    let-group="group"
                            >
                                <label>
                                    <button type="button" class="btn btn-default">
                                        {{carPipe(value)}}
                                    </button>
                                </label>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Изменен пользователем" prop="changed_by" editable="false" [flexGrow]="2">
                            <ng-template
                                    ngx-datatable-cell-template
                                    let-rowIndex="rowIndex"
                                    let-value="value"
                                    let-row="row"
                                    let-group="group"
                            >
                                <label>
                                    <ng-container *ngIf="value">
                                        <button type="button" class="btn btn-default">
                                            {{changedByUserId(value)}}
                                        </button>
                                    </ng-container>
                                </label>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Создан пользователем" prop="created_by" editable="false" [flexGrow]="2">
                            <ng-template
                                    ngx-datatable-cell-template
                                    let-rowIndex="rowIndex"
                                    let-value="value"
                                    let-row="row"
                                    let-group="group"
                            >
                                <label>
                                    <button type="button" class="btn btn-default">
                                        {{createdByUserId(value)}}
                                    </button>
                                </label>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
            </div>
        </div>
    </div>
</div>
