<div class="row">
  <form>
    <div class="col-xs-6">
      <div class="row">
        <div class="col-xs-4">
          <div class="form-group form-group-material">
            <label class="control-label is-visible" for="date_from_dept">Дата заказа от</label>
            <input type="date" class="form-control" id="date_from_dept" [(ngModel)]="form.date_from" [ngModelOptions]="{standalone: true}">
          </div>
        </div>

        <div class="col-xs-4">
          <div class="form-group form-group-material">
            <label class="control-label is-visible" for="date_to_dept">Дата заказа до</label>
            <input type="date" class="form-control" id="date_to_dept" [(ngModel)]="form.date_to" [ngModelOptions]="{standalone: true}">
          </div>
        </div>

        <div class="col-xs-4">
          <div class="form-group form-group-material">
            <label class="control-label is-visible" for="select_client">Клиент</label>
            <select id="select_client" class="select">
              <option [value]="company['id']" *ngFor="let company of companiesList">
                {{company['profile_name']}}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-4">
          <div class="form-group form-group-material">
            <label class="control-label is-visible" for="select_driver">Водитель</label>
              <select id="select_driver" class="select">
                <option [value]="driver['id']" *ngFor="let driver of driversList">
                  {{driver['profile_name']}}
                </option>
              </select>
          </div>
        </div>
      </div>

    </div>


    <div class="col-xs-2">
      <div class="form-group form-group-material">
        <div class="text-center">
          <br>
          <button type="button" class="btn btn-primary" (click)="reportTable()">
            Просмотр отчета
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="col-xs-6">
  <ngx-datatable
    class="material"
    headerHeight="50"
    rowHeight="auto"
    draggable="false"
    [columnMode]="ColumnMode.force"
    [rows]="rows"
    [columns]="columns">
  </ngx-datatable>
</div>
