<div class="row">
  <form>
    <div class="col-xs-2">
      <div class="form-group form-group-material">
        <label class="control-label is-visible" for="date_from_pdf">Дата заказа от</label>
        <input type="date" class="form-control" id="date_from_pdf" [(ngModel)]="form.date_from" [ngModelOptions]="{standalone: true}">
      </div>
    </div>

    <div class="col-xs-2">
      <div class="form-group form-group-material">
        <label class="control-label is-visible" for="date_to_pdf">Дата заказа до</label>
        <input type="date" class="form-control" id="date_to_pdf" [(ngModel)]="form.date_to" [ngModelOptions]="{standalone: true}">
      </div>
    </div>

    <div class="col-xs-2">
      <div class="form-group form-group-material">
        <label class="control-label is-visible" for="client_select">Клиент</label>
        <select class="form-control" id="client_select" [(ngModel)]="form.legal" [ngModelOptions]="{standalone: true}">
          <option [value]="company['id']" *ngFor="let company of companiesList">
            {{company['profile_name']}}
          </option>
        </select>
      </div>
    </div>

    <div class="col-xs-6">
      <br>
      <button type="button" class="btn btn-primary" [attr.disabled]="checkIsFormFilled() ? null : false" (click)="reportTable()">
        Просмотр отчета
      </button>

      <button type="button" class="btn btn-primary" [attr.disabled]="checkIsFormFilled() ? null : false" (click)="reportPdf(false)">
        Получить <b>pdf</b>
      </button>

      <button type="button" class="btn btn-primary" [attr.disabled]="checkIsFormFilled() ? null : false" (click)="reportPdf(true)">
        Получить <b>pdf(подпись + печать)</b>
      </button>
    </div>
  </form>
</div>
<div class="col-xs-12">
  <ngx-datatable
    class="material"
    [headerHeight]="50"
    rowHeight="auto"
    draggable="false"
    [columnMode]="ColumnMode.flex"
    [rows]="rows"
  >
    <!-- Group Header Template -->
    <ngx-datatable-column name="Id" prop="id" editable="false" [flexGrow]="0.5"></ngx-datatable-column>
    <ngx-datatable-column name="Дата и время заказа" prop="datetime_order" editable="false" [flexGrow]="1"></ngx-datatable-column>
    <ngx-datatable-column name="Место отправления" prop="from" editable="false" [flexGrow]="1"></ngx-datatable-column>
    <ngx-datatable-column name="Место назначения" prop="address" editable="false" [flexGrow]="2">
      <ng-template
        ngx-datatable-cell-template
        let-rowIndex="rowIndex"
        let-value="value"
        let-row="row"
        let-group="group"
      >
        <label>
          {{addressPipe(value)}}
        </label>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Цена" prop="price" editable="false" [flexGrow]="0.5"></ngx-datatable-column>
    <ngx-datatable-column name="Автомобиль" prop="car" editable="false" [flexGrow]="1">
      <ng-template
        ngx-datatable-cell-template
        let-rowIndex="rowIndex"
        let-value="value"
        let-row="row"
        let-group="group"
      >
        <label>
          {{carPipe(value)}}
        </label>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Водитель" prop="driver" editable="false" [flexGrow]="1">
      <ng-template
        ngx-datatable-cell-template
        let-rowIndex="rowIndex"
        let-value="value"
        let-row="row"
        let-group="group"
      >
        <label [innerHTML]="driverPipe(value, row)">
        </label>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Тип оплаты" prop="payment" editable="false" [flexGrow]="1">
      <ng-template
        ngx-datatable-cell-template
        let-rowIndex="rowIndex"
        let-value="value"
        let-row="row"
        let-group="group"
      >
        <label>
          {{paymentPipe(value)}}
        </label>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Заказчик" prop="client" editable="false" [flexGrow]="1">
      <ng-template
        ngx-datatable-cell-template
        let-rowIndex="rowIndex"
        let-value="value"
        let-row="row"
        let-group="group"
      >
        <label>
          {{clientPipe(value, row)}}
        </label>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Статус" prop="status" editable="false" [flexGrow]="1">
      <ng-template
        ngx-datatable-cell-template
        let-rowIndex="rowIndex"
        let-value="value"
        let-row="row"
        let-group="group"
      >
        <label>
          {{statusPipe(value)}}
        </label>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
  <div *ngIf="rows.length > 0">
    <b> Итого: </b> {{getTotalSum()}}
  </div>
</div>
