<div id="map-container"></div>
<div id="geocoder" class="geocoder"></div>
<div class="buttons">
    <button mat-raised-button (click)="closeDialog()">Отмена</button>
    <button mat-raised-button (click)="choose()" color="primary">Применить</button>
</div>
