<div class="page-container">
	<div class="content-wrapper">
		<form (ngSubmit)="onSubmit()" #modelForm="ngForm" class="form-horizontal">
			<div class="panel panel-flat">
				<div class="panel-heading">
					<h5 class="panel-title">Добавить автомобиль<a class="heading-elements-toggle"><i
							class="icon-more"></i></a></h5>
				</div>

				<div class="panel-body">

					<div [ngClass]="hasError('image')" class="form-group">
			        	<label class="col-lg-3 control-label">Фото авто:</label>

				        <div class="col-lg-9">
				          <input type="file" name="inputFile" (change)="onFileChange($event)">
				          <img src="#" id="car_img">
				          <span *ngIf="errors['image']" class="help-block">{{errors['image'][0]}}</span>
				        </div>
			      	</div>

					<div class="form-group">
						<label class="col-lg-3 control-label">Марка</label>

						<div class="col-lg-9">
							<input type="text" class="form-control" [(ngModel)]="model.mark" name="mark">
							<span *ngIf="errors['mark']" class="help-block">{{errors['mark'][0]}}</span>
						</div>
					</div>

					<div class="form-group">
						<label class="col-lg-3 control-label">Модель</label>

						<div class="col-lg-9">
							<input type="text" class="form-control" [(ngModel)]="model.model" name="model">
							<span *ngIf="errors['model']" class="help-block">{{errors['model'][0]}}</span>
						</div>
					</div>

					<div class="form-group">
						<label class="col-lg-3 control-label">Номер авто</label>

						<div class="col-lg-9">
							<input type="text" class="form-control" [(ngModel)]="model.car_number" name="car_number">
							<span *ngIf="errors['car_number']" class="help-block">{{errors['car_number'][0]}}</span>
						</div>
					</div>

					<div class="form-group">
						<label class="col-lg-3 control-label">Цвет</label>

						<div class="col-lg-9">
							<input type="text" class="form-control" [(ngModel)]="model.color" name="color">
							<span *ngIf="errors['color']" class="help-block">{{errors['color'][0]}}</span>
						</div>
					</div>

					<div class="form-group">
						<label class="col-lg-3 control-label">Год</label>

						<div class="col-lg-9">
							<input type="text" class="form-control" [(ngModel)]="model.year" name="year">
							<span *ngIf="errors['year']" class="help-block">{{errors['year'][0]}}</span>
						</div>
					</div>

					<div class="form-group">
						<label class="col-lg-3 control-label">Кол-во пассажиров</label>

						<div class="col-lg-9">
							<input type="text" class="form-control" [(ngModel)]="model.passengers" name="passengers">
							<span *ngIf="errors['passengers']" class="help-block">{{errors['passengers'][0]}}</span>
						</div>
					</div>

					<div class="form-group">
						<label class="col-lg-3 control-label">Кол-во багажных мест</label>

						<div class="col-lg-9">
							<input type="text" class="form-control" [(ngModel)]="model.baggage" name="baggage">
							<span *ngIf="errors['baggage']" class="help-block">{{errors['baggage'][0]}}</span>
						</div>
					</div>

					<div class="form-group">
						<label class="col-lg-3 control-label">Наличие детского кресла</label>

						<div class="col-lg-9">
							<input type="radio" name="baby_chair" [(ngModel)]="model.baby_chair" value="1"
								   id="baby_chair_1">
							<label for="baby_chair_1">Да</label>
							<input type="radio" name="baby_chair" [(ngModel)]="model.baby_chair" value="0"
								   id="baby_chair_0">
							<label for="baby_chair_0">Нет</label>
							<span *ngIf="errors['baby_chair']" class="help-block">{{errors['baby_chair'][0]}}</span>
						</div>
					</div>

					<div class="form-group">
						<label class="col-lg-3 control-label">Кондиционер</label>

						<div class="col-lg-9">
							<input type="radio" name="conditioner" [(ngModel)]="model.conditioner" value="1"
								   id="conditioner_1">
							<label for="conditioner_1">Да</label>
							<input type="radio" name="conditioner" [(ngModel)]="model.conditioner" value="0"
								   id="conditioner_0">
							<label for="conditioner_0">Нет</label>
							<span *ngIf="errors['conditioner']" class="help-block">{{errors['conditioner'][0]}}</span>
						</div>
					</div>

					<div class="form-group">
						<label class="col-lg-3 control-label">Оплата банковской картой</label>

						<div class="col-lg-9">
							<input type="radio" name="bank_card_payment" [(ngModel)]="model.bank_card_payment" value="1"
								   id="bank_card_payment_1">
							<label for="bank_card_payment_1">Да</label>
							<input type="radio" name="bank_card_payment" [(ngModel)]="model.bank_card_payment" value="0"
								   id="bank_card_payment_0">
							<label for="bank_card_payment_0">Нет</label>
							<span *ngIf="errors['bank_card_payment']" class="help-block">{{errors['bank_card_payment'][0]}}</span>
						</div>
					</div>

					<div class="form-group">
						<label class="col-lg-3 control-label">В ремонте</label>

						<div class="col-lg-9">
							<input type="radio" name="repairing" [(ngModel)]="model.repairing" [value]="1"
								   id="repairing_1">
							<label for="repairing_1">Да</label>
							<input type="radio" name="repairing" [(ngModel)]="model.repairing" [value]="0"
								   id="repairing_0">
							<label for="repairing_0">Нет</label>
							<span *ngIf="errors['repairing']" class="help-block">{{errors['repairing'][0]}}</span>
						</div>
					</div>

					<div class="form-group">
						<label class="col-lg-3 control-label">Комментарий</label>

						<div class="col-lg-9">
							<textarea class="form-control" [(ngModel)]="model.comment" name="comment"></textarea>
							<span *ngIf="errors['comment']" class="help-block">{{errors['comment'][0]}}</span>
						</div>
					</div>

					<fieldset class="content-group">
						<legend class="text-bold">Тариф</legend>

						<div class="form-group">
							<label class="col-lg-3 control-label">Стоимость подачи/возврата (руб/км)</label>

							<div class="col-lg-9">
								<input type="text" class="form-control" [(ngModel)]="model.request_price"
									   name="request_price">
								<span *ngIf="errors['request_price']"
									  class="help-block">{{errors['request_price'][0]}}</span>
							</div>
						</div>

						<div class="form-group">
							<label class="col-lg-3 control-label">Стоимость поездки  (руб/км)</label>

							<div class="col-lg-9">
								<input type="text" class="form-control" [(ngModel)]="model.transfer" name="transfer">
								<span *ngIf="errors['transfer']" class="help-block">{{errors['transfer'][0]}}</span>
							</div>
						</div>

						<div class="form-group">
							<label class="col-lg-3 control-label">Минимальная стоимость (руб)</label>

							<div class="col-lg-9">
								<input type="text" class="form-control" [(ngModel)]="model.order_cost"
									   name="order_cost">
								<span *ngIf="errors['order_cost']" class="help-block">{{errors['order_cost'][0]}}</span>
							</div>
						</div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Стоимость аренды (руб/час) </label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" [(ngModel)]="model.rent_price" name="rent_price">
                                <span *ngIf="errors['rent_price']" class="help-block">{{errors['rent_price'][0]}}</span>
                            </div>
                        </div>

						<div class="form-group">
							<label class="col-lg-3 control-label">Комиссия (%)</label>

							<div class="col-lg-9">
								<input type="text" [min]="0" [max]="100" class="form-control" [(ngModel)]="model.commission"
									   name="order_cost">
								<span *ngIf="errors['commission']" class="help-block">{{errors['commission'][0]}}</span>
							</div>
						</div>
					</fieldset>
					<div class="form-group">
						<label class="col-lg-3 control-label">Адрес выезда</label>

						<div class="col-lg-9">
							<input id="address_place" class="form-control" type="text" [(ngModel)]="model.address" name="address">
							<span *ngIf="errors['address']" class="help-block">{{errors['address'][0]}}</span>
						</div>
					</div>
					<div class="text-left">
						<button type="submit" class="btn btn-primary">Сохранить <i
								class="icon-arrow-right14 position-left"></i></button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
