<h1 mat-dialog-title>{{getTitle()}}</h1>
<div mat-dialog-content>
    <p>Сумма</p>
    <mat-form-field>
        <input matInput [(ngModel)]="form.value">
    </mat-form-field>
    <p>Комментарий</p>
    <mat-form-field>
        <input matInput [(ngModel)]="form.comment">
    </mat-form-field>
    <div *ngIf="errors.length > 0" class="alert alert-danger">
      {{errors[0]}}
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="closeDialog()">Отмена</button>
    <button mat-button (click)="submitDialog()" cdkFocusInitial>Ок</button>
</div>
