<div class="page-header page-header-inverse" *ngIf="getUserName() && this.router.url !== '/login'">
    <!-- Main navbar -->
    <div class="navbar navbar-inverse navbar-transparent">
        <div class="">
            <a class="navbar-brand" (click)="navBarClick()"><img src="../../../../assets/images/logo_light.png" alt=""></a>

            <ul class="nav navbar-nav pull-right visible-xs-block">
                <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-grid3"></i></a></li>
            </ul>
        </div>

        <div class="navbar-collapse collapse" id="navbar-mobile">
            <ul class="nav navbar-nav">
                <li [ngClass]="{'active': this.router.url === '/users'}" *ngIf="storageHelper.hasRole('admin')">
                    <a [routerLink]="['/users']">Пользователи</a>
                </li>
                <li [ngClass]="{'active': this.router.url === '/drivers'}" *ngIf="storageHelper.hasRole('admin')">
                    <a [routerLink]="['/drivers']">Водители</a>
                </li>
                <li [ngClass]="{'active': this.router.url === '/clients'}" *ngIf="storageHelper.hasRole('admin')">
                    <a [routerLink]="['/clients']">Клиенты</a>
                </li>
                <li [ngClass]="{'active': this.router.url === '/orders'}">
                    <a [routerLink]="['/orders']">Заявки</a>
                </li>
                <li [ngClass]="{'active': this.router.url === '/reports'}" *ngIf="storageHelper.hasRole('admin')">
                    <a [routerLink]="['/reports']">Отчеты</a>
                </li>
                <li class="dropdown language-switch"  *ngIf="storageHelper.hasRole('admin')">
                    <i class="fa fa-car"></i>
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        Автомобили
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li [ngClass]="{'active': this.router.url === '/cars'}" *ngIf="storageHelper.hasRole('admin')">
                            <a [routerLink]="['/cars']">Список</a>
                        </li>
                        <li [ngClass]="{'active': this.router.url === '/cars/repair'}" *ngIf="storageHelper.hasRole('admin')">
                            <a [routerLink]="['/cars/repair']">Заявки на ремонт</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown language-switch"  *ngIf="storageHelper.hasRole('admin')">
                    <i class="fa fa-car"></i>
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        Настройки
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li [ngClass]="{'active': this.router.url === '/sms-settings'}" *ngIf="storageHelper.hasRole('admin')">
                            <a [routerLink]="['/sms-settings']">СМС</a>
                        </li>
                        <li [ngClass]="{'active': this.router.url === '/cash-box-settings'}" *ngIf="storageHelper.hasRole('admin')">
                            <a [routerLink]="['/cash-box-settings']">КАССА</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="navbar-right">
                <ul class="nav navbar-nav">
                    <li class="dropdown dropdown-user">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <img src="../../../../assets/images/placeholder.jpg" alt="">
                            <span>{{getUserName()}}</span>
                            <i class="caret"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a [routerLink]="['/users/'+getUserId()+'/edit']">
                                    <!-- 							<span class="status-mark status-mark-inline border-success-300 position-left"></span> -->
                                    <i class="icon-cog3"></i>
                                    Профиль
                                </a>
                            </li>
                            <li><a (click)="logout()"><i class="icon-switch2"></i> Выйти </a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /main navbar -->
</div>
