<div class="page-container">
    <div class="page-content">
        <div class="sidebar sidebar-main sidebar-default">
            <div class="sidebar-content">

                <!-- Main navigation -->
                <div class="sidebar-category sidebar-category-visible">
                    <!-- <div class="category-title h6">
                        <span>Main sidebar</span>
                    </div>  -->

                    <mat-nav-list>
                        <a mat-list-item color="default" [routerLink]="['edit']"><i class="icon-user"></i> <span>Аккаунт</span></a>
                        <a mat-list-item color="default" [routerLink]="['profile']"><i class="icon-profile"></i> <span>Профиль</span></a>
                        <a mat-list-item color="default" [routerLink]="['cars']"><i class="icon-car"></i> <span>Автомобили</span></a>
                        <a mat-list-item color="default"[routerLink]="['balance']"><i class="icon-cash"></i> <span>Баланс</span></a>
                        <a mat-list-item color="default" [routerLink]="['schedule']"><i class="icon-table"></i> <span>График работы</span></a>
                    </mat-nav-list>
                </div>

            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>
