<div  class="page-container">
    <div class="content-wrapper">
        <form (ngSubmit)="onSubmit()" [formGroup]="model" class="form-horizontal" >
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h5 class="panel-title">Редактировать заказ<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
                </div>

                <div class="panel-body">

                    <div [ngClass]="hasError('order_type')" class="form-group" ng-class='getIsError("role")'>
                        <label class="col-lg-3 control-label">Услуга:</label>
                        <div class="col-lg-9">
                            <select formControlName="order_type" class="form-control">
                                <option value="0">Трансфер</option>
                                <option value="1">Аренда</option>
                                <option value="2">Доставка</option>
                            </select>
                            <span *ngIf="errors['order_type']" class="help-block">{{errors['order_type'][0]}}</span>
                        </div>
                    </div>

                    <div [ngClass]="hasError('legal_id')" *ngIf="storage.hasRole('admin')" class="form-group">
                        <label class="col-lg-3 control-label">Заказчик:</label>
                        <div class="col-lg-9">
                            <select class="form-control" formControlName="legal_id">
                                <option value="">

                                </option>
                                <option *ngFor="let model of usersList;" [value]="model['id']">
                                    {{model['profile_name']}}
                                </option>
                            </select>
                            <span *ngIf="errors['legal_id']" class="help-block">{{errors['legal_id'][0]}}</span>
                        </div>
                    </div>

                    <div [ngClass]="hasError('client_id')" *ngIf="storage.hasRole('admin')" class="form-group">
                        <label class="col-lg-3 control-label">Клиент:</label>
                        <div class="col-lg-9">
                            <select class="form-control" formControlName="client_id">
                                <option value="">

                                </option>
                                <option *ngFor="let model of clientsList;" [value]="model['id']">
                                    {{model['name']}}
                                </option>
                            </select>
                            <span *ngIf="errors['client_id']" class="help-block">{{errors['client_id'][0]}}</span>
                        </div>
                    </div>

                    <div [ngClass]="hasError('driver_id')" *ngIf="storage.hasRole('admin') || storage.hasRole('driver-manager')" class="form-group">
                        <label class="col-lg-3 control-label">Водитель:</label>
                        <div class="col-lg-9">
                            <select class="form-control" formControlName="driver_id">
                                <option value="">

                                </option>
                                <option *ngFor="let model of driversList;" [value]="model['id']">
                                    {{model['name']}}
                                </option>
                            </select>
                            <span *ngIf="errors['driver_id']" class="help-block">{{errors['driver_id'][0]}}</span>
                        </div>
                    </div>

                    <div [ngClass]="hasError('car_id')" *ngIf="storage.hasRole('admin') || storage.hasRole('driver-manager')" class="form-group">
                        <label class="col-lg-3 control-label">Авто:</label>
                        <div class="col-lg-9">
                            <select class="form-control"
                                    formControlName="car_id">
                                <option value="">
                                </option>
                                <option *ngFor="let car of carsList;" [value]="car['id']">
                                    {{car['name']}}
                                </option>
                            </select>
                            <span *ngIf="errors['car_id']" class="help-block">{{errors['car_id'][0]}}</span>
                        </div>
                    </div>

                    <div [ngClass]="hasError('datetime_order')" class="form-group">
                        <label class="col-lg-3 control-label">Дата и время</label>
                        <div class="col-lg-9">
                            <input type="datetime-local" class="form-control" formControlName="datetime_order">
                            <span *ngIf="errors['datetime_order']" class="help-block">{{errors['datetime_order'][0]}}</span>
                        </div>
                    </div>

                    <div [ngClass]="hasError('number')" class="form-group">
                        <label class="col-lg-3 control-label">Телефон(пассажира)</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" formControlName="number">
                            <span *ngIf="errors['number']" class="help-block">{{errors['number'][0]}}</span>
                        </div>
                    </div>


                    <div [ngClass]="hasError('rent_hours')" class="form-group" *ngIf="isOrderRent()">
                        <label class="col-lg-3 control-label">Время аренды в ч.</label>
                        <div class="col-lg-9">
                            <input type="number" class="form-control" formControlName="rent_hours">
                            <span *ngIf="errors['rent_hours']" class="help-block">{{errors['rent_hours'][0]}}</span>
                        </div>
                    </div>

                    <fieldset class="content-group">
                        <legend class="text-bold">Адреса</legend>

                        <div [ngClass]="hasError('legal_id')" class="form-group">
                            <label class="col-lg-3 control-label">Адрес подачи</label>
                            <div class="col-lg-9">
                                <input formControlName="from" class="form-control" id="from" appSelectDirective>
                                <span *ngIf="errors['from']" class="help-block">{{errors['from'][0]}}</span>
                            </div>
                        </div>

                        <ng-container *ngIf="!isOrderRent()">
                            <div
                                    class="form-group"
                                    [ngClass]="hasError('addresses')"
                                    formArrayName="addresses"
                                    *ngFor="let item of model.controls['addresses']['controls']; let i = index;"
                            >
                                <div [formGroupName]="i">
                                    <label class="col-lg-3 control-label">Адрес назначения {{i + 1}}</label>
                                    <div class="col-lg-8">
                                        <input formControlName="name" class="form-control" data-id = {{i}} id="address_{{i}}" appSelectDirective>
                                        <span *ngIf="errors['addresses']" class="help-block">{{errors['addresses'][0]}}</span>
                                    </div>
                                    <div class="col-lg-1">
                                        <button type="button" (click)="removeItem(i)" class="btn btn-default"><i class="icon-cross2"></i></button>
                                    </div>
                                </div>
                            </div>

                            <button type="button" (click)="addItem()" class="btn btn-default"><i class="icon-more"></i>Добавить адрес</button>
                        </ng-container>
                    </fieldset>


                    <div [ngClass]="hasError('payment')" class="form-group" ng-class='getIsError("role")'>
                        <label class="col-lg-3 control-label">Оплата:</label>
                        <div class="col-lg-9">
                            <select formControlName="payment" class="form-control">
                                <option value="noncash">Безналичный</option>
                                <option value="card">Банковская карта</option>
                                <option value="cash">Наличный</option>
                            </select>
                            <span *ngIf="errors['payment']" class="help-block">{{errors['payment'][0]}}</span>
                        </div>
                    </div>

                    <div [ngClass]="hasError('comment')" class="form-group">
                        <label class="col-lg-3 control-label">Комментарий</label>
                        <div class="col-lg-9">
						<textarea class="form-control" formControlName="comment">

						</textarea>
                            <span *ngIf="errors['comment']" class="help-block">{{errors['comment'][0]}}</span>
                        </div>
                    </div>

                    <div [ngClass]="hasError('status')" *ngIf="storage.hasRole('admin')" class="form-group">
                        <label class="col-lg-3 control-label">Статус:</label>
                        <div class="col-lg-9">
                            <select class="form-control" formControlName="status">
                                <option *ngFor="let status of statusList; let i = index" [value]="i">
                                    {{status}}
                                </option>
                            </select>
                            <span *ngIf="errors['status']" class="help-block">{{errors['status'][0]}}</span>
                        </div>
                    </div>

                    <div [ngClass]="hasError('driver_comment')" class="form-group">
                        <label class="col-lg-3 control-label">Причина отказа:</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" formControlName="driver_comment">
                            <span *ngIf="errors['driver_comment']" class="help-block">{{errors['driver_comment'][0]}}</span>
                        </div>
                    </div>

                    <div [ngClass]="hasError('price')" class="form-group">
                        <label class="col-lg-3 control-label">Стоимость</label>
                        <div class="col-lg-9">
                            <input
                                    type="text"
                                    [ngClass]="{disabled : getPriceDisabled()}"

                                    class="form-control"
                                    formControlName="price">
                            <span *ngIf="errors['price']" class="help-block">{{errors['price'][0]}}</span>
                        </div>
                    </div>

                    <div class="form-group"  [ngClass]="hasError('driver_payment')" *ngIf="storage.hasRole('admin') || storage.hasRole('driver-manager')">
                        <label class="col-lg-3 control-label">Оплата водителю</label>
                        <div class="col-lg-9">
                            <input
                                    type="text"
                                    class="form-control"
                                    formControlName="driver_payment">
                            <span *ngIf="errors['driver_payment']" class="help-block">{{errors['driver_payment'][0]}}</span>
                        </div>
                    </div>

                    <div class="panel panel-flat" *ngIf="!isOrderRent()">
                        <!-- *ngIf="storage.hasRole('admin')"  -->
                        <div class="panel-heading">
                            <h5 class="panel-title">Расчет стоимости поездки<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
                            <div class="heading-elements">
                                <ul class="icons-list">
                                    <li><a data-action="close"></a></li>
                                </ul>
                            </div>
                        </div>
                        <table class="table table-lg">

                            <thead>
                            <tr>
                                <th>Поле</th>
                                <th>Значение</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Расстояние</td>
                                <td>{{length}}</td>
                            </tr>
                            <tr>
                                <td>Подача авто</td>
                                <td>{{getProfileAttribute('request_price', ' руб/км')}}</td>
                            </tr>
                            <tr>
                                <td>Трансфер</td>
                                <td>{{getProfileAttribute('transfer', ' руб/км')}}</td>
                            </tr>
                            <tr>
                                <td>Мин.стоимость</td>
                                <td>{{getProfileAttribute('order_cost', ' руб')}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-xs-12" *ngIf="errors['status']">
                        <div class="alert alert-danger no-border">
                            <!-- <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button> -->
                            <span class="text-semibold">Ошибка!</span> Нельзя редактировать выполненный или отмененный заказ.
                        </div>
                    </div>
                    <div class="text-left" *ngIf="canAction()">
                        <button type="submit" class="btn btn-primary">Сохранить <i class="icon-arrow-right14 position-left"></i></button>
                        <button *ngIf="storage.hasRole('legal')" (click)="cancelOrder()" type="button" class="btn btn-danger">Отменить <i class="icon-x position-left"></i></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
