<div class="page-container">
    <div class="page-content">
		<div id="fullCalendar"></div>

		<div class="modal fade" id="myModal" role="dialog">
		    <div class="modal-dialog">
		    	<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title pull-left">{{modalHeader}} графика работы на {{selectedDate}}</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
				  	<div class="modal-body">
				  		<div class="row">
				  			<div class="col-xs-12">
								<form class="form-horizontal" #userForm="ngForm" >
						  			<div class="form-group">
								        <label class="col-lg-3 control-label">Начальное время:</label>
								        <div class="col-lg-9">
								            <input type="time" class="form-control" [(ngModel)]="model.date_start" name="date_start">
								            <span *ngIf="errors['date_start']" class="help-block">{{errors['date_start']}}</span>
								        </div>
								    </div>
								    <div class="form-group">
								        <label class="col-lg-3 control-label">Конечное время:</label>
								        <div class="col-lg-9">
								            <input type="time" class="form-control" [(ngModel)]="model.date_end" name="date_end">
								            <span *ngIf="errors['date_end']" class="help-block">{{errors['date_end']}}</span>
								        </div>
								    </div>
						  		</form>
				  			</div>
				  		</div>
					</div>

					<div class="modal-footer">
						<button (click)="modalSubmit()" class="btn btn-success" *ngIf="modalAction == 'create'"><i class="icon-plus22"></i>Добавить</button>
						<button (click)="modalDelete()" class="btn btn-danger" *ngIf="modalAction == 'edit'"><i class="icon-x"></i>Удалить</button>
						<button (click)="modalSubmit()" class="btn btn-primary" *ngIf="modalAction == 'edit'"><i class="icon-check"></i>Сохранить</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
